@{
    ViewBag.Title = "ProductList";
}

<h2>ProductList</h2>
<div>
    <input type="text" placeholder="search..." class="txtsearch"/><input type="button" value="search" id="btnsearch"/>
</div><br /><br />
<div id="data">
    <div id="loading">
        <img id="loading-image" src="~/Content/images/gif.gif" alt="Loading..." />
    </div>
</div>


