
@{
    ViewBag.Title = "ProductList";
}

<h2>ProductList</h2>

<div id="data">
    <div id="loading">
        <img id="loading-image" src="~/Content/images/gif.gif" alt="Loading..." />
    </div>
</div>


